@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;600;700&family=Overpass:wght@800&display=swap');

body {
width: 700px;
font-family: 'Cuprum', sans-serif;
margin-left: 50px;
margin: 0 auto;
background-color: #009246;
}



.wrapper{
     background-color: white;
     padding-top: 20px;
     border-radius: 20px;
     height: 100vh;
}


header{
margin-top: 10px;
text-align: center;
}


.logo_img{
display: block;
margin: 0 auto;
height: 70px;
}

.header_h1{
margin-top: 50px;
text-align: center;
font-size: 57px;
font-weight: 800;
font-family: 'Overpass', sans-serif;
}
.header_span{
font-size: 55px;
}


.green_color{
color: #009246;

}
.red_color{
color:#D22730;
margin-right: 5px;
}

.btn_container{
margin-top: 110px;
width: 100%;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;

}

.location_btn{
margin-top: 20px;
width: max-content;
min-width: 70px;
text-align: center;
font-size: 30px;
text-decoration: none;
color: black;
padding: 5px 25px 10px 25px;
height: 70px;
line-height: 70px;
border-radius: 20px;
font-weight: 800;
}

@media(max-width:600px){
     body{
     max-width: 100%;
     background-color: white;
     }
     .wrapper{
     background-color: white;
     padding-top: 20px;
     border-radius: 0px;
     height: 100vh;
     max-width: 100%;
     padding-bottom: 40px;
     }
     
     .header_h1{
     margin-top: 20%;
     text-align: center;
     font-size: 27px;
     font-weight: 800;
     font-family: 'Overpass', sans-serif;
     }

     .header_span{
     font-size: 25px;
     }

     .btn_container{
     margin-top: 10%;
     padding-left: 15px;
     margin: 0 auto;
     padding-bottom: 20px;
     width: 100%;
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     }

     .location_btn{
     margin-top: 30px;
     margin-right: 30px;
     width: max-content;
     min-width: 70px;
     text-align: center;
     font-size: 22px;
     text-decoration: none;
     color: black;
     padding: 5px 25px;
     height: 15%;
     line-height: 50px;
     border-radius: 20px;
     font-weight: 800;
     }
}

.location_btn:hover{
background-color: rgb(243, 226, 226);
border: 1.3px solid black;
transition-duration: 0.6s;
transform: scale(1.1);
}


.green_btn{
background-color:#0da356;
}
.red_btn{
background-color:#eb1e28;
}





